# Secrets
.env
opt/grafana-stack/secrets/
opt/portainer-stack/secrets/

# Grafana data
opt/grafana-stack/grafana/data/

# Prometheus data
opt/grafana-stack/prometheus/data/

# Portainer data
opt/portainer-stack/data/
